/* Colours + CSS defined Elements */
.dark-green {
  background-color: #10C245 !important;
}

.arrow {
  border: solid black;
  border-width: 0 3px 3px 0;
  display: inline-block;
  padding: 3px;
}

.down {
  transform: rotate(45deg);
  -webkit-transform: rotate(45deg);
}

.inline-block {
  display: inline-block;
}

.flex {
  display: flex;
}

.justify-start {
  margin-right: auto;
}

.display-none {
  display: none;
}


/*Editing the bootstrap top-bottom*/
@media only screen and (min-width: 320px) {

  .jumbotron {
    padding-bottom: 9rem !important;
    background: linear-gradient(#10C245, #10CC7E);
  }

  .jumbotron .display-1 {
  }

  .jumbotron .container h1 {
    margin-top: 5rem;
  }

  .jumbotron .container p {
    margin-top: 3.5rem;
    font-size: 3rem;
  }

  .jumbotron .container h1, .jumbotron .container p {
    color: white;
    font-weight: 650;
  }

  .jumbotron .container .animated-arrow {
    margin: auto;
    width: 150px;
    height: 150px;
    margin-top: 12rem;
    border-radius: 50%;
    border: solid white;
    border-width: 0.7rem;
    padding-top: 15px;
    text-align: center;
  }

  .jumbotron .container .animated-arrow .arrow {
    margin: 0;
    border: solid white;
    border-width: 0 9px 9px 0;
    padding: 30px;
  }

  .data {
    margin: auto;
    width: 80%;
    padding: 1rem;
    padding-top: 0;
    border: solid #CCCCCC;
    border-radius: 5px;
    border-width: 1px;
    overflow: hidden;
  }

  .data:hover {
    transition: 150ms;
    border-color: #10B3CC;
  }

  .data .row {
    margin-top: 1.5rem;
  }

  .data .flex {
    align-items: center;
  }

  .custom-select:hover {
    cursor: pointer;
  }

  img[src="question.png"] {
    width: 16px;
    margin-bottom: 0.15rem;
    margin-left: 0.5rem;
  }

  img[src="question.png"]:hover {
    cursor: pointer;
  }

  .data input[id="class1Percentage"]::after {
    content: "%";
  }

  .data .flex p {
    align-self: center;
    margin-left: 0.3rem;
    margin-bottom: 0;
  }

  .data .btn {
    background-color: #107AC2;
    margin-top: 1rem;
  }

  .data .btn:nth-child(2) {
    margin-right: 1.5rem;
  }

  .data .btn:nth-child(3) {
    /* margin-left: 1.5rem;
    margin-right: 1.5rem; */
    margin-right: 1.5rem;
  }

  .data .btn:nth-child(2),
  .data .btn:nth-child(3) {
    background-color: transparent;
    border: solid #107AC2;
    border-radius: 50%;
    align-items: center;
    padding: 1px  9px 1px 9px;
  }

  .data .btn p:nth-child(1),
  .data .btn p:nth-child(2) {
    margin-bottom: 0.25rem;
    font-weight: bold;
    font-size: 1rem;
    margin-left: 0;
    color: #107AC2;
  }

  .data .btn:nth-child(2):hover,
  .data .btn:nth-child(3):hover {
    background-color: #107AC2;
  }

  .data .btn:nth-child(2):hover > p {
    color: white;
  }

  .data .btn:nth-child(3):hover > p {
    color: white;
  }

  @media only screen and (max-width: 1024px) {
    .jumbotron .container .animated-arrow:active .arrow {
      transition: 250ms;
      transform: rotate(225deg) translateY(-21px) translateX(-21px);
    }

    .jumbotron .container .animated-arrow:hover .arrow {
      transition: 250ms;
      transform: rotate(225deg) translateY(-21px) translateX(-21px);
    }
  }

  /* JS generated Elements */

}


@media only screen and (min-width: 1024px) {

  .jumbotron {
    height: 100vh;
  }

  .jumbotron .container .animated-arrow:hover {
    cursor: pointer;
    transition: 250ms;
    background-color: white;
  }

  .jumbotron .container .animated-arrow:hover .arrow {
    cursor: pointer;
    transition: 250ms;
    border-color: black;
  }

  .data {
    margin: 0;
    margin-left: 3.5rem;
    max-width: 750px !important;
  }

}

@media only screen and (min-width: 1440px) {

  .data {
    margin-left: 7.5rem;
  }

}
